@media screen and (max-width: 1024px) {
  .header {
    padding: 0 50px;
  }
}

@media screen and (min-width: 480px) and (max-width: 992px) {
  .title {
    font-size: 35px;
    font-weight: bolder;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu {
    height: 350px;
    position: fixed;
    top: 74.4px;
    left: 100%;
    right: 0;
    flex-direction: column;
    align-items: center;
    background: rgb(22, 21, 21);
    transition: 0.2s;
  }

  .menu li {
    display: block;
    width: fit-content;
    margin: 40px auto 0 auto;
    font-size: 20px;
    text-align: center;
    transition: 0.5s;
  }
  .menu a {
    font-size: 23px;
  }
  .menu.active {
    left: 50%;
  }
  .header_body {
    width: 100%;
    min-height: 100%;
  }
  .header_body_inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header_body_inner .left {
    font-size: 45px;
    padding-bottom: 20px;
  }
  .about img {
    height: auto;
    width: 600px;
    border-radius: 20%;
  }

  .about img {
    width: 600px;
  }

  .about_text {
    width: 700px;
  }
  .main_text {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  .about_text h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 60px;
  }
  .about_text h5 {
    font-size: 20px;
    text-align: center;
  }
  .about_text p {
    letter-spacing: 0px;
    text-align: left;
  }
  .title2 h2 {
    font-size: 60px;
  }
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
  }
  .hobby_inner {
    height: 435px;
    width: 700px;
  }
  .hobby_inner i {
    font-size: 80px;
  }
  .hobby_inner h5 {
    font-size: 25px;
  }
  .pra p {
    font-size: 20px;
  }
  .portfolio_content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
    gap: 30px;
    justify-content: space-around;
  }

  .row img {
    width: 700px;
  }
  .layer {
    font-size: 22px;
  }
  footer p {
    font-size: 45px;
  }

  .social a {
    width: 70px;
    height: 70px;
    margin: 22px 30px;
  }
}
@media screen and (max-device-width: 479px) {
  .navbar {
    padding: 35px 32px;
  }
  .menu {
    height: 500px;

    top: 112.4px;
  }
  .menu li {
    margin: 65px auto 0 auto;
  }
  .menu a {
    font-size: 30px;
  }
  .menu.active {
    left: 40%;
  }
  .line {
    width: 40px;
    height: 4px;
    margin: 8px auto;
  }

  .hamburger.active .line:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }
  .hamburger.active .line:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }
  .header_body {
    width: 100%;
    min-height: 100vh;
    display: flex;
  }
  .header_body_inner {
    justify-content: center;
  }
  .header_body_inner .left {
    font-size: 80px;
    padding-bottom: 60px;
  }
  .header_body_inner .right img {
    width: 850px;
  }
  .hobby_inner h5 {
    font-size: 29px;
  }
  .pra p {
    font-size: 25px;
  }
  .hobby_inner {
    height: 435px;
    width: 750px;
  }

  .row img {
    width: 750px;
  }
  .layer {
    font-size: 26px;
  }
  footer p {
    margin-bottom: 40px;
  }
  .social a {
    width: 90px;
    height: 90px;
    margin: 22px 30px;
  }
}
