@media only screen and (max-width: 1024px) {
  .header {
    padding: 0 50px;
  }
}
@media screen and (max-width: 992px) {
  .title {
    font-size: 35px;
    font-weight: bolder;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    padding: 0;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 6px 0;
  }
  .menu {
    height: 350px;
    position: absolute;
    top: 74.4px;
    left: 60%;
    right: 0;
    flex-direction: column;
    align-items: center;
    background: rgb(22, 21, 21);
    transition: 0.2s;
  }
  .menu li {
    display: block;
    width: fit-content;
    margin: 40px auto 0 auto;
    font-size: 20px;
    text-align: center;
    transition: 0.5s;
  }
  .menu a {
    font-size: 25px;
  }
  .header_body_inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header_body_inner .left {
    font-size: 50px;
    padding-bottom: 20px;
  }
  .about img {
    height: auto;
    width: 600px;
    border-radius: 20%;
  }

  .about img {
    width: 700px;
  }

  .about_text {
    width: 700px;
  }
  .main_text {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  .about_text h2 {
    margin-bottom: 10px;
    text-align: center;
  }
  .about_text h5 {
    font-size: 20px;
    text-align: center;
  }
  .about_text p {
    letter-spacing: 0px;
    text-align: left;
  }
  .title2 h2 {
    font-size: 65px;
  }
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
  }
  .hobby_inner {
    height: 435px;
    width: 700px;
  }
  .hobby_inner i {
    font-size: 80px;
  }
  .hobby_inner h5 {
    font-size: 27px;
  }
  .pra p {
    font-size: 23px;
  }
  .portfolio_content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
    gap: 30px;
    justify-content: space-around;
  }
  .portfolio_content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    gap: 30px;
    justify-content: space-around;
  }
  .portfolio_content3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    gap: 30px;
    justify-content: space-around;
  }

  .row img {
    width: 700px;
  }
  .layer {
    font-size: 22px;
  }
  footer p {
    font-size: 45px;
  }

  .social a {
    width: 70px;
    height: 70px;
    margin: 22px 30px;
  }
}
