* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

p {
  font-style: normal;
}
body {
  position: relative;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.header {
  position: sticky;
  top: 0;
}
.navbar {
  display: flex;
  background-color: rgb(22, 21, 21);
  flex-direction: row;
  align-items: center;
  padding: 8px 32px;
  justify-content: space-between;
  width: 100%;
}
.title {
  color: rgb(235, 232, 229);
  font-size: 18pt;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu a {
  text-decoration: none;
  line-height: 1.5em;
  padding: 4px 16px;
  border: 0px solid transparent;
  border-radius: 15px;
  margin: 0px 4px;
  background-color: transparent;
  color: rgb(235, 232, 229);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

.menu a:hover {
  color: rgb(45, 231, 213);
}
.header_body {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
.header_body_inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.header_body_inner .left {
  font-size: 46px;
}

.header_body_inner .right img {
  border-radius: 100px;
  width: 90%;
  height: 90%;
}
.main_title {
  color: rgb(45, 231, 213);
}
.about {
  width: 100%;
  padding: 100px 0px;
  background-color: #191919;
}
.about img {
  height: auto;
  width: 430px;
  border-radius: 20%;
}
.about_text {
  width: 450px;
}
.about_text h2 {
  color: white;
  letter-spacing: 2px;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: normal;
}
.about_text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: lighter;
}
.about_text p {
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 15px;
  margin-bottom: 45px;
}

.main_text {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.maintext {
  margin: 30px;
}
.menu2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: verdana;
  font-size: 18px;
  padding: 25px;
}

span {
  color: rgb(45, 231, 213);
  font-weight: bold;
}

.main {
  font-family: verdana;
  text-align: center;
  color: rgb(29, 116, 120);
}
.list {
  font-family: verdana;
}
.list :hover {
  color: blue;
}
