* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

p {
  font-style: normal;
}
body {
  position: relative;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  height: auto;
}
img {
  max-width: 100%;
  height: auto;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: rgb(22, 21, 21);
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;
  justify-content: space-between;
  max-width: 1382px;
  margin: 0 auto;
}
.title {
  color: rgb(235, 232, 229);
  font-size: 18pt;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.title a {
  color: white;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.line {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

a {
  text-decoration: none;
}
a:hover {
  color: white;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu a {
  text-decoration: none;
  line-height: 1.5em;
  padding: 4px 16px;
  border: 0px solid transparent;
  border-radius: 15px;
  margin: 0px 4px;
  background-color: transparent;
  color: rgb(235, 232, 229);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  transition: 0.5s ease;
}
.menu .active a {
  background-color: rgb(36, 177, 163);
}

.menu a:hover {
  color: rgb(45, 231, 213);
}
.header_body {
  width: 100%;
  min-height: 100vh;
  margin-top: 0;
  background-color: white;
}
.header_body_inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.header_body_inner .left {
  font-size: 46px;
}

.header_body_inner .right img {
  border-radius: 100px;
  width: 600px;
  display: block;
  transition: transform 0.5s;
}
.main_title {
  color: rgb(45, 231, 213);
}
.about {
  width: 100%;
  min-height: 100vh;
  padding: 100px 0px;
  background-color: #191919;
}
.about img {
  height: auto;
  width: 430px;
  border-radius: 20%;
}
.about_text {
  width: 450px;
}
.about_text h2 {
  color: white;
  letter-spacing: 2px;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: normal;
}
.about_text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: lighter;
}
.about_text p {
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 15px;
  margin-bottom: 45px;
}
.about_text a {
  text-decoration: none;
  color: aqua;
}

.main_text {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hobby {
  background-color: #191919;
  width: 100%;
  min-height: 100vh;
  padding: 100px 0px;

  margin: 0;
}
.title2 h2 {
  color: white;
  font-size: 70px;

  margin: 20px auto;
  text-align: center;
  font-weight: normal;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.hobby_inner {
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background-color: white;
  border-radius: 20px;
  margin: 15px;
  text-align: center;
  overflow: hidden;
}
.hobby_inner i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: rgb(45, 231, 213);
}
.hobby_inner h5 {
  font-size: 23px;
  margin-bottom: 5px;
}
.pra p {
  font-size: 16px;
  margin-bottom: 25px;
}
.portfolio {
  display: block;
  justify-content: center;
  background-color: #191919;
  padding-top: 100px;
}
.portfolio_content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-left: 70px;
  margin-right: 70px;
  gap: 30px;
  justify-content: space-around;
}

.portfolio_content1 img {
  width: 600px;
  border-radius: 10%;
  display: block;
  transition: transform 0.5s;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
}

.layer {
  color: white;
  font-weight: lighter;
}

.contact {
  position: relative;

  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #191919;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h2 {
  font-size: 36px;
  font-weight: bold;
  color: rgb(45, 231, 213);
}
.content-inside {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.content-inside .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.content-inside .contactInfo .contactBox {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.social {
  display: flex;
}
.social a {
  min-width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 22px 10px;
  background: rgb(45, 231, 213);
  border-radius: 50%;
  text-decoration: none;
}
.socialText {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: white;
  flex-direction: column;
}
.socialText p {
  font-size: 14px;
}
.socialText h3 {
  margin-bottom: 0;
}
.contactForm {
  width: 40%;
  padding: 40px;
  background: white;
}
.contactForm h2 {
  color: #191919;
}
.contactForm .inputBox {
  position: relative;
  margin-top: 10px;
  width: 100%;
}
.contactForm .inputBox input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid rgb(45, 231, 213);
  outline: none;
  resize: none;
}
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid rgb(45, 231, 213);
  outline: none;
  resize: none;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  font-size: 12px;
  color: rgb(45, 231, 213);
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: rgb(45, 231, 213);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.menu2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: verdana;
  font-size: 18px;
  padding: 25px;
}

.main {
  text-align: center;
  color: rgb(29, 116, 120);
}

section {
  width: 100%;
  min-height: 100vh;
}
