html {
  scroll-behavior: smooth;
}
p {
  font-family: verdana;
}
.menu {
  padding: 0;
  list-style: none;
}

.menu a {
  text-decoration: none;
  line-height: 1.5em;
}

.menu a:hover {
  color: blue;
  background-color: rgb(134, 161, 223);
}

.text {
  font-family: verdana;
  text-align: justify;
  color: rgb(29, 116, 120);
}
.main {
  font-family: verdana;
  text-align: left;
  color: rgb(29, 116, 120);
}
.list {
  font-family: verdana;
}
.list :hover {
  color: blue;
}
